@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

main {
  font-family: "Exo 2", sans-serif;
}

.my-name {
  color: navy;
  font-size: 4rem;
  margin-top: -1rem;
}

p {
  font-size: 1.125rem;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.profile--picture {
  margin-top: -10px;
}

.my--card {
  background-color: rgba(0, 0, 128, 0.758);
  border-radius: 1rem;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  width: 17rem;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.my--card:hover {
  transform: scale(1.15);
  box-shadow: 5px 6px 5px 4px;
}


.card--body {
  padding: 2rem 1rem;
  text-align: center;
  
}

.card--image {
    height: 8rem;
    border-radius: 50%;
    border: 0.5rem solid white;
}

.social--media {
  padding-top: 2.5rem;
}



.social--media a img {
  height: 2rem;
  margin-right: 0.8rem;
}