.cv-img {
    height: 800px;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.272) !important;
    border-radius: 2%;
    transition: all 1s;
}

.cv-img:hover {
    border:1px solid black;
    transform: scale(1.05);
}