@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Exo 2", sans-serif;

}

.footer {
  height: 100px;
  background-color: #202429;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.155rem;
  font-weight: 600;
}
